/* style.css */

header {
    display: flex;               
    align-items: center;         
    justify-content: space-between; 
    padding: 10px;               /* Adds padding inside the header */
}

/* Styling for the logo */
.logo img {
    width: 100px;                /* Set the desired width for the logo image */
}

/* Inline-block styling for nav items */
.inline-block {
    display: inline-block;
}

/* Styling for the navigation list */
nav ul {
    list-style: none;            /* Removes the default list styling */
    margin: 0;                   /* Removes default margin */
    padding: 0;                  /* Removes default padding */
}

/* Styling for the list items */
nav ul li {
    margin-left: 20px;           /* Adds spacing between the list items */
}

.heroImg {
    height: 600px;
    padding: 25px;
    text-align: center;
}

.content {
    width: 600px;
    margin: 0 auto;
}

img {
    width: 50%
}

footer {
    background-color: #373738 ;
    padding: center;
    color: white;
}

footer ul {
    display: ;
    vertical-align: top;
    padding: 0;            
    margin: 0;
    text-align: center;
}

footer ul li {
    display: inline-block; /* Makes <li> elements display next to each other */
    padding: 10px 30px;    /* Adds padding inside each <li> element */
    vertical-align: top;
    
}
    
button {

}
    

/*body {
    background-color: blue;
}*/